---
layout: compress
---
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="{{ site.keywords }}" />
        <meta name="author" content="{{ site.author }}" />
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/modern-blog.min.css" />
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script>
        if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
        var root = document.getElementsByTagName('html')[0];
        root.setAttribute('class', 'ff');
        };
        </script>
    </head>
    <body class="body">
        <div class="container">
            <header class="header">
                <h1>Jekyll Auth<span>No servers required.</span></h1>
                <nav class="links">
                    <a href="https://twitter.com/aerobaticapp"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="https://github.com/aerobatic"><i class="fa fa-github-square fa-3x"></i></a>
                    <a href="https://bitbucket.org/aerobatic/"><i class="fa fa-bitbucket-square fa-3x"></i></a>
                </nav>
            </header>
            <div class="content">
                <!-- trianglify pattern container -->
                <div class="pattern pattern--hidden"></div>
                <!-- cards -->
                <div class="wrapper">
                    {% for post in site.posts %}
                        <div class="card">
                            <div class="card__container card__container--closed">
                                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1200" preserveAspectRatio="xMidYMid slice">
                                    <defs>
                                    <clipPath id="{{ post.subtitle | slugify }}">
                                <polygon class="clip" points="0,1200 0,0 1920,0 1920,1200"></polygon>
                                </clipPath>
                                </defs>
                                <image clip-path="url(#{{ post.subtitle | slugify }})" width="1920" height="1200" xlink:href="{{ post.image }}"></image>
                            </svg>
                            <div class="card__content">
                                <i class="card__btn-close fa fa-times"></i>
                                <div class="card__caption">
                                    <h2 class="card__title">{{ post.title }}</h2>
                                    <p class="card__subtitle">{{ post.subtitle }}</p>
                                </div>
                                <div class="card__copy">
                                    <div class="meta">
                                        <img class="meta__avatar" src="{{ post.avatar }}" />
                                        <span class="meta__author">{{ post.author }}</span>
                                        <span class="meta__date">{{ post.date | date: "%b %-d, %Y" }}</span>
                                    </div>
                                    {{ post.content }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- /cards -->
            </div>
        </div>
        <!-- /container -->
        <!-- JS -->
        <script src="js/vendors/trianglify.min.js"></script>
        <script src="js/vendors/TweenMax.min.js"></script>
        <script src="js/vendors/ScrollToPlugin.min.js"></script>
        <script src="js/vendors/cash.min.js"></script>
        <script src="js/card-modern-blog.min.js"></script>
        <script src="js/modern-blog.min.js"></script>
    </body>
</html>