---
layout: compress
---
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="{{ site.keywords }}" />
        <meta name="author" content="{{ site.author }}" />
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/modern-blog.min.css" />
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script>
        if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
        var root = document.getElementsByTagName('html')[0];
        root.setAttribute('class', 'ff');
        };
        </script>
        <style>
			h6.error {
			  color: red;
			}

			.content.center {
				width: 50% ;
  				margin: auto ;
			}
		</style>
    </head>
    <body class="body">
        <div class="container">
            <header class="header">
                <h1>Jekyll Auth<span>No servers required.</span></h1>
                <nav class="links">
                    <a href="https://twitter.com/aerobaticapp"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="https://github.com/aerobatic"><i class="fa fa-github-square fa-3x"></i></a>
                    <a href="https://bitbucket.org/aerobatic/"><i class="fa fa-bitbucket-square fa-3x"></i></a>
                </nav>
            </header>
            <div class="content center">
                <!-- trianglify pattern container -->
                <div class="pattern pattern--hidden"></div>
                <!-- login form -->
				<h6 class="error" id="password-error" style="color:red"><strong></strong></h6>
				<form method="POST">
				  <label for="password">Password</label>
				  <input class="u-full-width" type="password" placeholder="password" name="aerobatic-password" id="aerobatic-password">
				    <input class="button-primary" type="submit" value="Submit">
				</form>
                <!-- /form -->
            </div>
        </div>
        <!-- /container -->
        <!-- JS -->
        <script src="js/vendors/trianglify.min.js"></script>
        <script src="js/vendors/TweenMax.min.js"></script>
        <script src="js/vendors/ScrollToPlugin.min.js"></script>
        <script src="js/vendors/cash.min.js"></script>
        <script src="js/card-modern-blog.min.js"></script>
        <script src="js/modern-blog.min.js"></script>
        <script>
            if (/fail=1/.test(location.search)) {
              document.getElementById("password-error").innerHTML= "Incorrect Password" ;
            }
        </script>
    </body>
</html>